@model CreateDTOEmployee

@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>

<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">

    <partial name="PartialViews/CreateEditPartialView" />
    <input asp-for="ImageName" hidden></input>
    <div class="my-3">
        <input type="submit" value="Create" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-light">Back-to list</a>
    </div>
</form>
@section validation{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

